<!DOCTYPE html>
<html lang="es">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/css/normalize.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Psicotools</title>
</head>

<body>

    <header>
        <h2 class="title-workshop">Aprende conmigo</h2>
    </header>

    <main>
        <section class="container-section-aprendeConmigo">
            <figure class="container-figure-aprendeConmigo">
                <img src="/img/workshops/aprendeConmigo.webp" alt="" class="container-figure-aprendeConmigo__img">
            </figure>

            <h3 class="container-section-aprendeConmigo__title">Taller para el fortalecimiento de las habilidades
                precursoras del aprendizaje escolar</h3>
            <p class="container-section-aprendeConmigo__paragraph">
                Es común que nuestros hijos desde muy pequeñitos presenten algunas dificultades para desenvolverse con
                facilidad en el colegio; por ejemplo, algunas veces no atienden a las instrucciones de los profesores o
                de sus cuidadores, cuando realizan sus tareas reciben una carita triste porque se les ha dificultado
                dibujar o escribir con claridad y colorear les aburre, o incluso cuando tienen tiempo para compartir con
                sus compañeros y compañeras prefieren quedarse solitos.
            </p>

            <p class="container-section-aprendeConmigo__paragraph">
                Es por esto que en Psicotools creamos un espacio diseñado para niños entre los 5 y 9 años, donde podemos
                mejorar y fortalecer algunos procesos psicológicos que todos necesitamos desde muy pequeñitos para
                realizar con facilidad las actividades cotidianas y escolares, a través del ejercicio activo en procesos
                primarios como la atención, la motricidad, la percepción visoespacial, el razonamiento abstracto y las
                habilidades sociales.
            </p>

            <a href="registroTaller.html" class="button-workshop button-workshop--blue">Inscribete aqui</a>
            <a href="/index.html" class="button-workshop button-workshop--red">Regresar</a>
        </section>
    </main>

    <footer></footer>

</body>

</html>