<!DOCTYPE html>
<html lang="es">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/css/normalize.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Psicotools</title>
</head>

<body>

    <header>
        <h2 class="title-workshop">El embarazo, una aventura para renacer</h2>
    </header>

    <main>
        <section class="container-section-embarazo">
            <figure class="container-figure-embarazo">
                <img src="/img/workshops/embarazo.webp" alt="" class="container-figure-embarazo__img">
            </figure>

            <article class="container-info-embarazo">
                <h3 class="container-info-embarazo__title">El embarazo, una aventura para renacer</h3>
                <p class="container-info-embarazo__paragraph">
                    ¿Sabías qué la forma cómo vives tu embarazo y las experiencias que tienes influyen en la
                    personalidad de
                    tu bebé y en su forma de ser como adulto? Con base en la psicología peri y prenatal, este espacio se
                    enfoca en el soporte emocional que los bebés, madres y acompañantes necesitan durante el proceso del
                    embarazo para hacer de él la mejor experiencia posible. Obtendrás herramientas para fortalecer la
                    relación con tu bebé y brindarle el apoyo y cariño necesario para que su desarrollo físico,
                    emocional y
                    mental se dé de la mejor manera.
                </p>

                <p class="container-info-embarazo__paragraph">
                    Recuerda que tu bienestar es uno de los mayores regalos que le puedes dar a tu bebé.
                </p>

                <a href="registroTaller.html" class="button-workshop button-workshop--blue">Inscribete aqui</a>
                <a href="/index.html" class="button-workshop button-workshop--red">Regresar</a>
            </article>
        </section>
    </main>

    <footer></footer>

</body>

</html>