<!DOCTYPE html>
<html lang="es">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/css/normalize.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Psicotools</title>
</head>

<body>

    <header>
        <h2 class="title-workshop">Emocionaditos</h2>
    </header>

    <main>
        <section class="container-section-emocionaditos">
            <figure class="container-figure-emocionaditos">
                <img src="/img/workshops/emocionaditos.webp" alt="" class="container-figure-emocionaditos__img">
            </figure>

            <article class="container-info-emocionaditos">
                <h3 class="container-info-emocionaditos__title">
                    Taller de regulación emocional para tus hijos.
                </h3>
                <p class="container-info-emocionaditos__paragraph">
                    - ¿Alguna vez te has sentido perdido en un mar de emociones, sin saber qué hacer o cómo reaccionar?
                    Ahora, imagina cómo es para tu hijo/a sentirse así. - ¿Crees que ya tiene las herramientas
                    suficientes
                    para afrontarlo?
                </p>

                <p class="container-info-emocionaditos__paragraph">
                    El desarrollo emocional es un proceso difícil que requiere de tiempo y acompañamiento de los
                    cuidadores
                    para que se dé de una manera adecuada. El saber manejar las emociones es indispensable para el
                    bienestar
                    de los niños/as y sus relaciones con otros. Por medio de este taller se busca que comprendan sus
                    emociones y aprendan a regularlas y expresarlas de la mejor manera, dándoles herramientas para
                    afrontar
                    situaciones de malestar y frustración. Regálale a tu hijo/a un espacio único en donde aprenda a
                    abrazar
                    sus emociones.
                </p>

                <a href="registroTaller.html" class="button-workshop button-workshop--blue">Inscribete aqui</a>
                <a href="/index.html" class="button-workshop button-workshop--red">Regresar</a>
            </article>
        </section>
    </main>

    <footer></footer>

</body>

</html>