<!DOCTYPE html>
<html lang="es">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/css/normalize.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Psicotools</title>
</head>

<body>

    <header></header>

    <main>
        <h2>Phármakon</h2>
        <section>
            <figure>
                <img src="/img/workshops/pharmakon.webp" alt="">
            </figure>
            <h3>Las drogas desde un enfoque de reducción de riesgos</h3>
            <p>
                Las drogas lícitas e ilícitas, sintéticas y naturales existen y circulan en nuestros entornos
                cotidianos; las utilizaron, utilizan o utilizarán personas cercanas a nosotros, y es muy probable que en
                algún momento de la vida nosotros mismos establezcamos algún tipo de relación con ellas. El estatus de
                ilegalidad que hay sobre muchas de estas no evitará que tengamos contacto con ellas aquí o allá.
            </p>

            <p>
                Cuando nos hallamos frente a algo desconocido podemos asumir el riesgo de explorar sin saber lo que
                podremos encontrarnos y exponernos a vivencias potencialmente problemáticas para nuestra vida, o bien
                buscar algún tipo de orientación o guía para poder tomar decisiones sobre lo que estamos dispuestos a
                arriesgar y establecer límites y responsabilidades personales. Este taller apunta justamente a esto
                último: a dar elementos a los jóvenes para la toma de decisiones informadas acerca del complejo universo
                de las drogas y su interacción con la vida, el cuerpo, las redes, los entornos y la existencia misma de
                sus usuarios.
            </p>

            <a href="registroTaller.html">Inscribete aqui</a>
            <a href="/index.html">Regresar</a>
        </section>
    </main>

    <footer></footer>

</body>

</html>