<!DOCTYPE html>
<html lang="es">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/css/normalize.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Psicotools</title>
</head>

<body>
    <header></header>

    <main class="container-main">
        <fieldset class="container-form">
            <legend class="container-form__title">Inscripción Taller</legend>
            <form action="#" method="post" class="form-workshop-registration">
                <input type="text" placeholder="Nombre y apellido" required class="form-workshop-registration__input">

                <input type="number" placeholder="Edad" required class="form-workshop-registration__input">

                <select name="" id="" required class="select-workshop-registration">
                    <option value="" selected disabled class="select-workshop-registration__option">
                        Selecciona Taller
                    </option>
                    <option value="Emocionaditos" class="select-workshop-registration__option">
                        Emocionaditos
                    </option>
                    <option value="Aprende Conmigo" class="select-workshop-registration__option">
                        Aprende Conmigo
                    </option>
                    <option value="LEVEL UP!" class="select-workshop-registration">
                        LEVEL UP!
                    </option>
                    <option value="El embarazo, una aventura para renacer" class="select-workshop-registration">
                        El embarazo, una aventura para renacer
                    </option>
                    <option value="PHARMAKON" class="select-workshop-registration">
                        PHARMAKON
                    </option>
                </select>

                <input type="email" placeholder="Email" required class="form-workshop-registration__input">

                <input type="text" placeholder="Telefono" required class="form-workshop-registration__input">

                <button class="form-workshop-registration__btn">INSCRIBIRME</button>
            </form>
        </fieldset>

        <aside class="container-aside-workshop-register">
            <div class="container-info-form-register">
                <p class="container-info-form-register__paragraph">
                    Estamos para ayudarte y hacer tu vida más simple.
                </p>
                <p class="container-info-form-register__paragraph">
                    ¡No dudes en contactarnos! Pronto nos comunicaremos contigo.
                </p>
            </div>

            <div class="container-info-contact">
                <div class="container-telephone">
                    <h3 class="container-telephone__title">Escríbenos o llámanos</h3>
                    <ul class="container-list-info">
                        <li class="container-list-info__item">
                            <i class="fab fa-whatsapp container-list-info__icon"></i>
                            <i class="fas fa-phone-alt container-list-info__icon"></i>
                            +(57) 316-549-2695
                        </li>
                        <li class="container-list-info__item">
                            <i class="fab fa-whatsapp container-list-info__icon"></i>
                            <i class="fas fa-phone-alt container-list-info__icon"></i>
                            +(57) 318-262-5221
                        </li>
                    </ul>
                </div>

                <div class="container-address">
                    <h3 class="container-address__title">Visítanos</h3>
                    <ul class="container-list-info">
                        <li class="container-list-info__item">
                            <i class="fas fa-map-marker-alt container-list-info__icon"></i>
                            Calle 39 A # 18 - 32
                        </li>
                    </ul>
                </div>

                <div class="container-email">
                    <h3 class="container-email__title">Envíanos un email</h3>
                    <ul class="container-list-info">
                        <li class="container-list-info__item">
                            <i class="fas fa-envelope container-list-info__icon"></i>
                            info@psicotools.com.co
                        </li>
                    </ul>
                </div>
            </div>
        </aside>
    </main>

    <footer></footer>

    <script src="https://kit.fontawesome.com/92318589eb.js" crossorigin="anonymous"></script>
</body>

</html>