<!DOCTYPE html>
<html lang="es">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/css/normalize.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Psicotools</title>
</head>

<body>
    <header></header>

    <main>
        <fieldset>
            <legend>Inscripción Taller</legend>
            <form action="#" method="post">
                <input type="text" placeholder="Nombre y apellido" required>

                <input type="number" required>

                <select name="" id="" required>
                    <option value="" selected disabled>Selecciona Taller</option>
                    <option value="Emocionaditos">Emocionaditos</option>
                    <option value="Aprende Conmigo">Aprende Conmigo</option>
                    <option value="LEVEL UP!">LEVEL UP!</option>
                    <option value="El embarazo, una aventura para renacer">
                        El embarazo, una aventura para renacer
                    </option>
                    <option value="PHARMAKON">PHARMAKON</option>
                </select>

                <input type="email" placeholder="Email" required>

                <input type="text" placeholder="Telefono" required>

                <button>INSCRIBIRME</button>
            </form>
        </fieldset>

        <aside>
            <div>
                <p>
                    Estamos para ayudarte y hacer tu vida más simple.
                </p>
                <p>
                    ¡No dudes en contactarnos! Pronto nos comunicaremos contigo.
                </p>
            </div>

            <div>
                <div>
                    <h3>Escríbenos o llámanos</h3>
                    <ul>
                        <li>
                            <i class="fab fa-whatsapp"></i>
                            <i class="fas fa-phone-alt"></i>
                            +(57) 316-549-2695
                        </li>
                        <li>
                            <i class="fab fa-whatsapp"></i>
                            <i class="fas fa-phone-alt"></i>
                            +(57) 318-262-5221
                        </li>
                    </ul>
                </div>

                <div>
                    <h3>Visítanos</h3>
                    <ul>
                        <li>
                            <i class="fas fa-map-marker-alt"></i>
                            Calle 39 A # 18 - 32
                        </li>
                    </ul>
                </div>

                <div>
                    <h3>Envíanos un email</h3>
                    <ul>
                        <li>
                            <i class="fas fa-envelope"></i>
                            info@psicotools.com.co
                        </li>
                    </ul>
                </div>
            </div>
        </aside>
    </main>

    <footer></footer>

    <script src="https://kit.fontawesome.com/92318589eb.js" crossorigin="anonymous"></script>
</body>

</html>